
<header>
    <h1>Online Learning Dashboard</h1>
    <nav>
      <button >Enroll New Course</button>
      <button >Progress Tracking</button>
      <button >Communication Tools</button>
      <button >Grading Tools</button>
     
      
      <a  style="cursor: pointer; color: black;"  routerLink="/Home">Logout</a>
    </nav>
  </header>
  <div class="container">
    <div class="sidebar">
      <button >Create Group</button>
      <button (click)="createexam()">Create Exam</button>
      <button >Create Session</button>
    </div>

    <div class="content">
      <!-- Your content goes here -->
      <p>This is the main content of your page.</p>
    </div>
  </div>

