
.nav-link {
    color: black !important;
    font-weight: bold;
}



.navbar-brand:hover h2 {
    color: rgb(163, 152, 86);
    transform: scale(1.1);
}

.btn-login-register {
    height: 40px;
    width: 130px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.btn-login-register:hover {
    background-color:  rgb(163, 152, 86);
    transform: scale(0.95);
}
.nav-link:hover {
    
    color: gold;
    font-weight: bold; 
   
}