<nav  class="navbar navbar-expand-lg bg-primary " data-bs-theme="dark">
    <div class="container-fluid ">
                  <a class="navbar-brand ms-4" href="#"> 
                  <img  src="assets\Images\icons8-online-degree-courses-available-on-education-portal-48.png" class="card-img" alt="Children">
                  </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a class="nav-link">Course Center Academy</a>
          </li>
          
          <li>
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Grade</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              
            </div>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" routerLink="grade">Grad</a>
          </li>
        </ul>
        <form class="d-flex">
          <input  class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0 m-2" type="submit">Search</button>
        </form>
        <button class="btn btn-primary my-2 my-sm-0 m-2" routerLink="/Login">Login</button>
        <button class="btn btn-primary my-2 my-sm-0 m-2" routerLink="/Register">Sign Up</button>
      </div>
    </div>
  </nav>