.section {
    padding: 20px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f0f8ff;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.2);
    padding: 20px;
    height: 400px;
  }
  
  .row {
    display: flex;
  }
  
  .instructor {
    flex: 1;
    text-align: center;
  }
  
  .profile-image img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  /*  */
  
  /*  */
  .card {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 13px;
  }
  
  .buttons {
    text-align:center;
  }
  
  .buttons button {
    background-color: gold; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px; 
    
  
  }
  
  .buttons button:hover {
    background-color: lightblue; 
    transform: scale(1.1)
  }
  
 /*  */
 .ic {
    display: flex;
  }
  
  .social-icons {
    margin-right: 20px;
  }
  
  .social-icons h5 {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px; 
  }
  
  .social-icons i {
    font-size: 24px;
  }
  
  
  .social-icons .fab.fa-facebook-f {
    color: #3b5998; 
  }
  
  .social-icons .fab.fa-twitter {
    color: #1da1f2; 
  }
  
  .social-icons .fab.fa-instagram {
    color: #bc2a8d; 
  }
  
 
/*  */

  .co {
    width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  }
  
  .r {
    display: flex;
  justify-content: center;
  }
  
  .col-md-4,
  .col-sm-3 {
    flex: 1;
  margin: 10px;
  background-color: #f0f8ff;
  border-radius: 10px; 
  padding: 20px;
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      flex-basis: 100%;
    }
}

.Specialities{
    
        text-align: center;
      
}

.r2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .card-large {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }
  
  .card-large h4 {
    margin-bottom: 10px;
  }
  
  .card-large h5 {
    color: gray;
  }