<header>
    <div class="header-content">
        <img src="assets/images/Arabic.jpeg" alt="Circle Image">
        <h1>Arabic </h1>
        <p>Egypt,Grade 1 </p>
    </div>
</header>

@for (item of items; track $index) {
    <div class="container">
        <div class="box" *ngFor="let item of items">
            <div class="box-header">
                <img [src]="item.photo" [alt]="item.alt">
                <h2>{{ item.description }}</h2>
            </div>
            <div class="box-body">
                <p style="text-align: center;">Group Name:Arabic 1</p>
                <p style="text-align: center">Number of Student in Group:20<br>
                    Start Date:20/2/2024br>
                    End Date :20/5/2024
                </p>
                <button class="button1" style="background-color:azure; color:black" 
                    >{{ item.button1.label }}</button>
                <button class="button2" routerLink="/courseselected" >{{ item.button2.label }}</button>
    
    
            </div>
        </div>
    </div>
}


    <!-- Repeat the box structure for the second box
    <div class="box" *ngFor="let item of items">
        <div class="box-header">
            <img [src]="item.photo" [alt]="item.alt">
            <h2>{{ item.description }}</h2>
        </div>
        <div class="box-body">
            <p style="text-align: center;"> Group Name:Arabic 1</p>
            <p style="text-align: center">Number of Student in Group:20<br>
                <br>
                Start Date:20/2/2024br>
                End Date :20/5/2024
            </p>
            <button class="button1" style="background-color:azure; color:black" [class.clicked]="item.button1.clicked"
                (click)="toggleClicked(item.button1)">{{ item.button1.label }}</button>
            <button class="button2" [class.clicked]="item.button2.clicked" (click)="toggleClicked(item.button2)">{{
                item.button2.label }}</button>

        </div>
    </div>

    <div class="box" *ngFor="let item of items">
        <div class="box-header">
            <img [src]="item.photo" [alt]="item.alt">
            <h2>{{ item.description }}</h2>
        </div>
        <div class="box-body">
            <p style="text-align: center;">Group Name:Arabic 1</p>
            <p style="text-align: center"> Number of Student in Group:20<br>
                <br>
                Start Date:20/2/2024br>
                End Date :20/5/2024
            </p>
            <button class="button1" style="background-color:azure; color:black" [class.clicked]="item.button1.clicked"
                (click)="toggleClicked(item.button1)">{{ item.button1.label }}</button>
            <button class="button2" [class.clicked]="item.button2.clicked" (click)="toggleClicked(item.button2)">{{
                item.button2.label }}</button>

        </div>
    </div>
    <div class="box" *ngFor="let item of items">
        <div class="box-header">
            <img [src]="item.photo" [alt]="item.alt">
            <h2>{{ item.description }}</h2>
        </div>
        <div class="box-body">
            <p style="text-align: center;">Group Name:Arabic 1</p>
            <p style="text-align: center"> Number of Student in Group:20<br>
                <br>
                Start Date:20/2/2024<br>
                End Date :20/5/2024
            </p>
            
            <button class="button1" style="background-color:azure; color:black" >{{ item.button1.label }}</button>
            
            <button class="button2" >{{item.button2.label }}</button>

        </div>
    </div> -->


