<div id="header">

    <div id="container" class="container ">
        <div >
            <h1>Complete Personal Profile</h1>
        </div>
        <div class="row justify-content-around ">
    
       
    <div appCustom id="one" class="mt-4 col-lg-6 ">
    <a><h3>1 Personal Details</h3></a>
   
    </div>
    
    <div id="two"  class="mt-4 col-lg-6 ">
        <a ><h3>2 Place settings</h3></a>
        
    </div>
    <div id="three" class="mt-4 col-lg-6 ">
        <a ><h3>3 Train settings</h3></a>
       
    </div>
    <div id="four" class="mt-4 col-lg-6 ">
        <a ><h3>4 Terms and Conditions</h3></a>
       
    </div>
    </div>
    </div>
    
    </div>
    <a routerLink="/profile"><h3>profile</h3></a>
    <a routerLink="/createExam"><h3>create Exam </h3></a>
    <a routerLink="/createGroup"><h3>create Group</h3></a>
    <a routerLink="/MYGroup"><h3>My groups</h3></a>
      