
<body style="background-image: url('assets/images/photo.jpeg');">
  <div class="container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="inputbox">

        <input type="text" formControlName="username">
        <img src="assets/images/user.png" margin-top="10px">
      </div>
      <div class="inputbox">

        <input type="password" formControlName="password">
        <img src="assets/images/lock.png" margin-top="10px">
      </div>
      <div class="remember">
        <label><input type="checkbox" placeholder="Password">Remember me</label>
        
    </div>
      <button id="redirectButton" class="button" type="submit" [disabled]="loginForm.invalid">Login</button>
      <div class="register" ><p>Don't Have an Acount?<a  routerLink="/register" >Register</a></p></div>
      <span id="span"></span>
    </form>
  </div>
</body>