#a{
   
-webkit-font-smoothing: inherit ;
cursor: pointer ;
text-align: left ;
border: 0px;
font: inherit;
vertical-align: baseline;
-webkit-box-direction: normal ;
-webkit-box-orient: horizontal ;
-webkit-box-align: stretch ;
align-items: stretch ;
border-width: 0px ;
border-style: solid ;
box-sizing: border-box ;
display: flex ;
margin: 0px ;
z-index: 0 ;
min-width: 0px ;
min-height: 48px ;
flex-direction: row;
flex: 1 ;
padding: 16px ;
box-shadow: inset 4px 0 #1865f2 ;
position: relative ;
background-color: #eeeeee ;
color: #21242c ;
text-decoration: none;
list-style-type: none;
border-bottom:  1px solid rgb(209, 209, 209);
}
#b{
   
    -webkit-font-smoothing: inherit ;
    cursor: pointer ;
    color: #21242c ;
    text-align: left ;
    
    font: inherit;
    vertical-align: baseline;
    -webkit-box-direction: normal ;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch ;
    align-items: stretch ;
   

    box-sizing: border-box ;
    display: flex ;
    margin: 0px ;
    z-index: 0 ;
    min-width: 0px ;
    min-height: 48px ;
    flex-direction: row ;
    flex: 1 ;
    padding: 16px ;
    position: relative ;
  
    text-decoration: none;
    border-bottom:  1px solid rgb(209, 209, 209);
}

#b:hover{
    background-color:  #eeeeee;
    
}
#d
{
    overflow-y: scroll;
    height: 800px;
}
#b a{
    text-decoration: none;

    
}
#go
{
    margin-left: 100px;
}
#b h3{
   width: 20px;
  height: 20px;
}