<div id="d">

  <div id="a" aria-current="true" aria-disabled="false" href="#">
    <div class="center-image">
      <img alt="" class="rounded-circle mt-4" src="\assets\images\test.png" height="45" width="45">
    </div>
    <div aria-hidden="true" class="p-4">
      <span style="font-size: 25px;">EXAMS
        <a routerLink="/group" class="btn btn-primary ms-4"> Return To Group
          <svg xmlns="http://www.w3.org/2000/svg" class="ms-2" style="width:20px" viewBox="0 0 448 512">
            <path fill="#ffffff" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
          </svg>
        </a>
      </span>
    </div>

  <div id="a"  aria-current="true" aria-disabled="false"  href="#">
       <div class="center-image"  >
          <img alt=""  class=" rounded-circle mt-4 " src="\assets\images\test.png" height="45" width="45">
         
        </div>
        <div aria-hidden="true"   class=" p-4">
             
           <span  style="font-size: 25px;">EXAMS</span>
            
            
              </div  >
            </div>
  
            
            @for (item of exam; track item.exam) {
              
                   <div id="b" class="d-flex justify-content-around"  style="border-bottom: 4px solid #1865f2;"  >
                   
                        <div><h3>{{item.name}}</h3></div>
                          <div id="go" >
                          <a class="btn btn-primary " routerLink="/stdexam/{{item.id}}">GO TO EXAM</a>
                         
                          </div>
                        
                   </div>
                  }
                 
              
  

  </div>
  
  <ng-container *ngFor="let item of exam">
    <div id="b" class="d-flex justify-content-around" style="border-bottom: 4px solid #1865f2;">
      <div><h3>{{ item.name }}</h3></div>
      <div>
        <a class="btn btn-primary" [routerLink]="'/stdexam/' + item.id">GO TO EXAM</a>
      </div>
    </div>
  </ng-container>
</div>
