
    
 <div id="e" class="" >
 <form [formGroup]="myForm" (ngSubmit)="Submit()">
<div id="e2" class="container m-auto ">
  
    <h3  style="text-align: center;">User Name</h3>

<div id="e3" class="m-auto">

<input type="text" [(ngModel)]="username"  
 class="form-control" placeholder="Enter Your Name">

</div>

<div id="header"  class="m-auto" >
<h2>{{oneExam.name}}</h2>

</div>




<div id="body"  class="m-auto">
   @for (i of oneExam.questions; track i.id) {
 
    
<h3>{{i.name}} </h3>

<div >
   
    <ul class="mt-4 " type="A">
        @for (u of i.choise; track u.id) {
        <li class="mt-2">
           
            <label for="q" > {{u.text}} <input class="ms-2" name="{{i.id}}" id="q"   type="radio"> </label> 
    
        </li>
     } 
    </ul>

  
</div>

}
</div>
 



<div id="button" >
    <input type="submit" class="btn btn-primary " >
</div>


</div>

</form>

</div>




    
                                                                                                           
    