<app-header></app-header>
<!-- <app-home></app-home> -->
<!-- <app-steps-create></app-steps-create> -->
<!-- <app-profile></app-profile> -->
<!-- <app-dash-board-grade-one></app-dash-board-grade-one>
<app-dash-board-grade-two></app-dash-board-grade-two>
<app-dash-board-grade-three></app-dash-board-grade-three> -->

<!-- <app-courseselected></app-courseselected> -->
<!-- <app-instgroups></app-instgroups> -->
<!-- <app-createexam></app-createexam> -->
<!-- <app-selectinstructor></app-selectinstructor> -->
<router-outlet></router-outlet>
<br>
<br>
<app-footer></app-footer>

