<div>
<div id="header" >
    
    
        <nav aria-label="Breadcrumbs">
        <ul >
            <li >
            <a aria-label="Home"  href="/">
                <span >   
                     <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px">   
                         <path d="M 12 2.0996094 L 1 12 L 4 12 L 4 21 L 10 21 L 10 14 L 14 14 L 14 21 L 20 21 L 20 12 L 23 12 L 12 2.0996094 z"/>
                        </svg>
                        <span class="ms-4"></span>
                        <a  href="/science">grade name</a>
            </span>
            </a>
</li>
<li  aria-current="page">
   </li></ul></nav>
    
    

<div>
     <h1 class=" ms-4" data-test-id="course-unit-title">group name </h1></div>
<div >

<div class="mb-4"></div>

<div id="c" ><span >session start time - session end time  </span><a  role="button" href="/science/ms-biology/x0c5bb03129646fd6:cells-and-organisms/x0c5bb03129646fd6:cells-organisms/e/understand-cells-and-organisms"><span  >Go To Session</span></a>
</div>

<div class="m-4 p-2 d-flex flex-row justify-content-between" style="text-align: center;">
    <div class="alert alert-primary col-6 m-2" style="height: 300px;border-radius: 0px;">
        <h2>Description</h2>
        <p> {{course.Description}}</p>
        
    </div>
    <div class="m-2">
        
        <video class="col-12 " height="300px" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            
          </video>
    </div>
</div>
<div id="coursedetails" style="text-align: center;margin: 40px;">
    <div class="alert alert-primary " style="border-radius: 0px;">
        <h2>Group Name</h2>
        <p>{{course.name}}</p>
        <h2>Instructor Name</h2>
        <p></p>
        <h2>group Duration</h2>
        <p>{{course.Duration}}</p>
        <h2>Price</h2>
        <p>{{course.Price}}</p>
       
    </div>
</div>
  
     
</div>
