<div class=" ">
    <div class="container  m-4" id="header"  >
    
    <h1>{{course.name}}</h1>
    <h2>{{course.subject}}</h2>
    <span id="f"><h3>From</h3><p class="ms-4">{{course.start_date}}</p></span>
    <span id="s"><h3>To</h3><p class="ms-4">{{course.end_date}}</p></span>
    <span id="t"><h3>Price</h3><p class="ms-4">{{course.Price}}</p></span>
    
        </div>
    
        <div id="ins" class="container m-4 d-flex justify-content-around">
            <div>
                <h4 class="mb-4">{{course.instructor.first_name}}</h4>
                <img  src="assets/images/teacher1.jpeg" alt="">
            </div>
    
    <div id="details" class="mt-4">
       
      <h3 class="mt-4" >About</h3>  
      <p>{{course.instructor.about_me}}</p>
     <h3 class="mt-4">
        Contact Details
     </h3>
     <p>
        {{course.instructor.Country}}
     </p>
     <p>
        {{course.instructor.city}}
      
     </p>
     <p>
        {{course.instructor.phone}}
     </p>
    </div>
    
        </div>
    
