#header{
    color: #21242c;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    align-items: stretch !important;
  
    border-style: solid !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column !important;
 
    position: relative !important;
   
  
 
 
}
#header a{  text-decoration: none;}
#header ul{ list-style-type: none;}
#c{
        border: 0px;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-align: center !important;
    border-width: 0px !important;
    border-style: solid !important;
    box-sizing: border-box !important;
    display: flex !important;

    position: relative !important;
    z-index: 0 !important;
    min-width: 0px !important;
    align-items: center !important;
    border-radius: 10px !important;
    box-shadow: 4px 0px 0px 0px hsla(0, 100%, 100%, 0.12) inset !important;
    color: #e01212 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    gap: 16px !important;
    min-height: 64px !important;
 
    font-size: 20px;
    font-weight: 500;
   
    background-color: #f2dc18 !important;
    position: relative;
}
#c a{
   
    
    border-radius: 10px;
   
    font-weight: 500;

   position: absolute;
   right: 50px;
}
#coursedetails p
{
font-size: 20px;
font-weight: 400;
}
#c span
{
    padding: 5px 20px;
}