#header{
    color: #21242c;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-align: stretch !important;
    align-items: stretch !important;
  
    border-style: solid !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: column !important;
 
    position: relative !important;
   background-color: rgb(175, 194, 247);
  
 
 
}
#header a{  text-decoration: none;}
#header ul{ list-style-type: none;}


#ins
{
    background-color: white;
    padding: 50px 0;
}
h1{
    text-align: center;
}
h2
{

    text-align: center;
    margin-top: 20px;
}
span
{
    margin: auto;
    margin-top: 20px;
   
    text-align: center;
}
p{
   
    font-size: 25px;
   
  
}
#details
{
    text-align: center;
}
h3
{
    margin-top: 10px;
   
}
h4
{
    text-align: center;
   
}