<!-- exam.component.html -->

<div class="container">
  <h2 style="text-shadow: 1px 1px 2px black, 0 0 50px blue, 0 0 5px darkblue;">
    Exam Information</h2>
  <div class="form-group">
    <label for="examName">Exam Name:</label>
    <input type="text" class="form-control" id="examName" [(ngModel)]="exam.name" placeholder="Enter exam name">
  </div>

  <br>
  <hr>
  <br>

  <h2 style="text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px 
    darkblue;">Exam Questions</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="question-form">
        <div *ngFor="let question of exam.questions; let questionIndex = index" class="question-container">
          <label>Question {{ questionIndex + 1 }}:</label><br>
          <input type="text" [(ngModel)]="question.question" placeholder="Enter your question here" required><br>
          <div class="option-container" *ngFor="let option of question.options; let optionIndex = index">
            <div class="form-check">
              <input class="form-check-input" type="radio" (click)="CheckOption(questionIndex , optionIndex)" name="{{questionIndex}}">
              <input type="text" [(ngModel)]="option.option" placeholder="Enter option {{ optionIndex + 1 }}" required>
              <button class="btn btn-sm btn-danger" (click)="deleteOption(questionIndex, optionIndex)">Delete
                Option</button>
            </div>
          </div>
          <button class="btn btn-sm btn-primary" (click)="addOption(questionIndex)">Add Option</button>
          <button class="btn btn-sm btn-danger" (click)="deleteQuestion(questionIndex)">Delete Question</button>
        </div>
        <button class="btn btn-primary" (click)="addQuestion()">Add Question</button>

        <hr>

        Total Questions: {{ getTotalQuestions() }}

      </div>
    </div>
    <div class="col-md-6">
      <div class="question-preview">
        <h2 style="text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;">Questions Preview</h2>
        <div *ngFor="let question of exam.questions" class="question-preview-item">
          <h4>{{ question.question }}</h4>
          <ul>
            <li *ngFor="let option of question.options">{{ option.option }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
  <button class="btn btn-success" style="margin-top:20px" (click)="saveExam()">Save Exam</button>

  <div *ngIf="examSaved" class="alert alert-success mt-3" role="alert">
    Exam saved successfully!
  </div>


</div>