<div id="header" >

    <div id="container" class="container ">
        <div >
            <h1>Complete Personal Profile</h1>
        </div>
        <div class="row justify-content-around ">
    
       
    <div appCustom id="one" class="mt-4 col-lg-6 ">
    <a routerLink="/step1"  ><h3>1- Personal Details</h3></a>
    </div>
    <div id="two"  class="mt-4  col-lg-8 ">
        <a routerLink="/step2" ><h3>2-Place settings</h3></a>
    </div>
    <!-- <div id="three" class="mt-4 col-lg-6 ">
        <a routerLink="/step3"><h3>3 Train settings</h3></a>
    </div> -->
    <div id="four" class="mt-4 col-lg-6 ">
        <a routerLink="/step3"><h3>3-Terms and Conditions</h3></a>
    </div>
    </div>
    </div>
    </div>
    <router-outlet></router-outlet>
