<div class="container" >
    <div class="card mb-3 m-auto mt-4  " style="max-width: 100%; height: 60%; ">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="assets\images\Children.jpg" class="card-img" alt="Children">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                <h1 class="card-title">
                    For every student,<br>
                    every classroom.<br>
                    Real results.</h1>
                <p class="card-text">We’re a nonprofit with the mission to provide a free, world-class education for anyone, anywhere.</p>
                </div>
                <button type="button" class="btn btn-primary mt-4 m-3 "style="width:25% ;">Learner</button>
                <button type="button" class="btn btn-primary mt-4 m-3"style="width:25% ;">Teacher</button>
            </div>
        </div>
    </div>
    <div class="m-auto p-5 text-center " >
        <h2 style="font-size: 44px;line-height: 60px;"  >Why Course Center Academy </h2>
    </div>
    <div class="row ">
        <div class="col-md-4 mt-4 ">
            <div class="card " >
                <img src="assets\images\personalized_learning_icon.png" style="width: 9rem;" class="card-img-top m-auto" alt="Personalized learning">
                <div class="card-body">
                    <h4 class="card-title">Personalized learning</h4>
                    <p class="card-text">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card" >
                <img src="assets\images\trusted_content_icon.png" style="width: 9rem;" class="card-img-top m-auto" alt="Trusted content">
                <div class="card-body">
                    <h4 class="card-title">Trusted content</h4>
                <p class="card-text">Created by experts, Course Center Academy’s library of trusted practice and lessons covers math, science, and more. Always free for learners and teachers.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-4">
            <div class="card" >
                <img src="assets\images\empower_teachers_icon.png" style="width: 9rem;" class="card-img-top m-auto" alt="Tools to empower teachers">
                <div class="card-body">
                    <h4 class="card-title">Tools to empower teachers</h4>
                <p class="card-text">With ** Academy, teachers can identify gaps in their students’ understanding, tailor instruction, and meet the needs of every student.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- TEACHERS -->
    <div class="card mb-3 m-auto mt-4  " style="max-width: 100%; height: 60%; ">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="assets\images\faces_collage_2@2x.png" class="card-img" alt="faces_collage">
            </div>
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">TEACHERS</small></p>
                    <h2 class="card-title">
                        Differentiate your<br> classroom and engage<br> every student.</h2>
                    <p class="card-text">We empower teachers to support their entire classroom. 90% of US teachers who have used ** Academy have found us effective.</p>
                </div>
                <button type="button" class="btn btn-primary mt-4 m-3"style="width:25% ;">Teachers, start here </button>
            </div>
        </div>
    </div>
    <!-- student -->
    <div class="card mb-3 m-auto mt-4  " style="max-width: 100%; height: 60%; ">
        <div class="row no-gutters">
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">LEARNERS AND STUDENTS</small></p>
                    <h2 class="card-title">You can learn anything.</h2>
                    <p class="card-text">Build a deep, solid understanding in math, science, and more.</p>
                </div>
                <button type="button" class="btn btn-primary mt-4 m-3" style="width:25%;transform: translate(90px, 3px);">learners, start here </button>
            </div>
            <div class="col-md-5">
                <img src="assets\images\laptop_collage@2x.png" class="card-img" alt="faces_collage">
            </div>
        </div>
    </div>
</div>

<!-- INDIA -->
<div style="height: 600px;width: 100%;background-color: rgb(245, 245, 245);">
    <div style="width: 70%; margin: auto; ">
        <p style="font-size: 30px;margin-top: 50px;transform: translate(10px, 191px);">“I come from a poor family. At home it’s one room, just a room we live in. When I was a child, I used to fear mathematics. But now, I am in love with mathematics because of ** Academy.”</p>
    </div>
    <div style="text-align: end;width: 80%;transform: translate(10px, 181px);">
        <div>
            <img src="assets\images\anjali-3.png" alt="" style="width: 132px;" class="rounded float-right">
        </div>
        <div>
            <div>ANJALI</div>
            <div>INDIA</div>
        </div>
    </div>
</div>

<div class="container m-4" style="background-image:url('assets/images/last_chance_collage.png');background-size: cover;background-attachment: fixed;height: 300px; width: 100%;">
    <h4 style="font-size: 44px;line-height: 60px;" class="text-center mt-4">Join ** Academy today</h4>
    <div class="d-grid gap-2 m-4">
        <button class="btn btn-lg btn-primary m-auto w-25" type="button">TEACHERS</button>
        <button class="btn btn-lg btn-primary m-auto w-25" type="button">STUDENTS</button>
    </div>
</div>