
<div class="container " style="border: none;" >
    <div class=" mb-3 m-auto mt-4  " style="max-width: 100%; height: 70%; ">
        <div class="row no-gutters" >
            <div class="col-md-5"data-aos="fade-right">
                <img src="/assets/images/Home.jpeg" class="card-img"alt="Children">
            </div>
            <div class="col-md-7"data-aos="fade-left">
                <div class="card-body">
                <h3 class="card-title">
                    Welcome to MyTeacher,<br>
                    where knowledge meets innovation! 🚀<br>
                    </h3><br>
                    <p class="card-text custom-card-text">Don't study alone again! Get into study groups with your friends and access the best teachers on demand.</p>
                    <div class="button-container">
                        <div class="button-container">
                            <button class="btn custom-button scaled-on-hover" routerLink="/Login">Learner</button>
                            <button class="btn custom-button scaled-on-hover" routerLink="/Dashboard"click="func()">Teacher</button>

                           
                        </div>
                        
                </div>
                
        </div>
    </div>
<div><br><br><br></div>
    


 

<div class="container m-auto p-5 text-center">
    <h2 style="font-size: 44px; line-height: 60px;">Why Myteacher Center Academy</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-4">
            <div class="card"class="y1">
                <img src="assets/images/personalized_learning_icon.png" style="width: 9rem;" class="card-img-top m-auto" alt="Personalized learning">
                <div class="card-body">
                    <h4 class="card-title">Personalized learning</h4>
                    <p class="card-text">Students practice at their own pace, first filling in gaps in their understanding and then accelerating their learning.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card"class="y1">
                <img src="assets/images/trusted_content_icon.png" style="width: 9rem;" class="card-img-top m-auto" alt="Trusted content">
                <div class="card-body">
                    <h4 class="card-title">Trusted content</h4>
                    <p class="card-text">Created by experts, Course Center Academy’s library of trusted practice and lessons covers math, science, and more. Always free for learners and teachers.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4">
            <div class="card"class="y1">
                <img src="assets/images/empower_teachers_icon.png" style="width: 9rem;" class="card-img-top m-auto" alt="Tools to empower teachers">
                <div class="card-body">
                    <h4 class="card-title">Tools to empower teachers</h4>
                    <p class="card-text">With ** Academy, teachers can identify gaps in their students’ understanding, tailor instruction, and meet the needs of every student.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div><br><br><br><br><br><br><br><br><br></div>


<div class="container-fluid py-5">
    <div class="container" style="border: none;">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100 rounded-circle" src="/assets/images/girl-on-computer-istock.jpg" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="section-title text-start text-primary pe-3">About Us</h1>
                <h1 class="mb-4">Welcome to eLEARNING</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                    </div>
                   
                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>

<!--  -->

<div><br><br><br><br><br><br></div>
<div class="card mb-3 m-auto mt-4 " class="t" style="max-width: 100%; height: 60%;">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src="assets\images\faces_collage_2@2x.png" class="card-img" alt="faces_collage">
        </div>
        <div class="col-md-7">
            <div class="card-body" class="t1">
                <p class="card-text"><small class="text-muted">TEACHERS</small></p>
                <h2 class="card-title">
                    Differentiate your<br> classroom and engage<br> every student.</h2>
                <p class="card-text">We empower teachers to support their entire classroom. 90% of US teachers who have used ** Academy have found us effective.</p>
                <button class="btn btn btn-primary mt-4 m-3 w-25"  type="button"  style="width: 25%;">Teachers,start here</button>

            </div>
        </div>
    </div>
</div>

  
    <div><br><br><br><br><br><br><br><br><br></div>

     <div class="card mb-3 m-auto mt-4  " style="max-width: 100%; height: 60%; "style="border: none;">
        <div class="row no-gutters">
            <div class="col-md-7">
                <div class="card-body">
                    <p class="card-text"><small class="text-muted">LEARNERS AND STUDENTS</small></p>
                    <h2 class="card-title">You can learn anything.</h2>
                    <p class="card-text">Build a deep, solid understanding in math, science, and more.</p>
                </div>
                <button type="button" class="btn btn-primary mt-4 m-3" style="width:25%;transform: translate(90px, 3px);">learners, start here </button>
            </div>
            <div class="col-md-5">
                <img src="assets\images\laptop_collage@2x.png" class="card-img" alt="faces_collage">
            </div>
        </div>
    </div>
</div>

 
<div><br><br><br><br><br></div>

<div class="container m-4" style="background-image:url('assets/images/last_chance_collage.png');background-size: cover;background-attachment: fixed;height: 300px; width: 100%;">
    <h3 style="font-size: 44px;line-height: 60px;" class="text-center mt-4">Join MYteacher Academy today</h3>
    <div class="d-grid gap-2 m-4">
        <button class="btn btn-lg btn-primary m-auto w-25" type="button">TEACHERS</button>
        <button class="btn btn-lg btn-primary m-auto w-25" type="button">STUDENTS</button>
    </div>
</div>


